<section class="card login">
  <form name="myform"
    novalidate>

    <div class="textintro">
      <h1>Hi there!</h1>
      <p>Log-in to access the awesomeness!</p>
      <p>{{ mensagem }}</p>
      <p>{{myform.email.$invalid}}</p><!--OS DADOS DO myform ENGLOVBA OS DADOS DOS DOIS ngmodel-->
      <p>{{myform.email.$valid}}
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true"> <!--OS DADOS DE user SÓ ESTTÃO DENTRO DO ESCOPO DO INPUT-->
      <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">EMAIL INVALIDO</p>
      <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
      <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">PASSWORD INVALIDO</p>
    </fieldset>

    <button type="submit" class="btn">Login</button>
    <p>or <a href="#/register">register</a></p>
  </form>
</section>
